{% extends 'pet-shop/headerfooter.html'%}
{% block content %}
<link class="jsbin" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
<script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js"></script>
<meta charset=utf-8 />
<body class="hold-transition skin-blue sidebar-mini">



<div class="wrapper">

  

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1><br>
        Add Pets Details
       
      </h1>
   
    </section>

    <!-- Main content -->
    <section class="content">

      <!-- SELECT2 EXAMPLE -->
      <div class="box box-default">
        <!-- <div class="box-header with-border">
          <h3 class="box-title">Add shop Details</h3>

         
        </div> -->

        <div style="{color: blue}">{{msg}}</div>
        <!-- /.box-header -->
        <div class="box-body">
          <div class="row">
        {% for x in b %}
            
             <form action="/shop_view_update_pet/?id={{x.id}}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}

            <div class="col-md-12">
              <div class="form-group">

                
              <div class="col-md-12">
              <div class="form-group">
                <label>Category</label>
                 <input type="text" name="cat" value="{{x.Category}}" class="form-control" required=""> 
              </div>          
            </div>


            <div class="col-md-12">
              <div class="form-group">
                <label>Name</label>
                 <input type="text" name="name" class="form-control" placeholder="name of pet" value="{{x.name}}" required=""> 
              </div>          
            </div>
             

              <div class="col-md-12">
              <div class="form-group">
                <label>Breed&nbsp;&nbsp;&nbsp;&nbsp;</label>
                 <input type="radio" name="breed" value="male" {% if 'male' in x.Breed %} checked {% endif %}  >Male &nbsp;
                 <input type="radio" name="breed" value="female" {% if 'female' in x.Breed %} checked {% endif %} >Female &nbsp;
              </div>          
            </div>


          
              <div class="col-md-12">
              <div class="form-group">
                <label>Age</label>
                 <input type="text" name="age" value="{{x.Age}}" class="form-control" placeholder="Enter age" required=""> 
              </div>          
            </div>


            <div class="col-md-12">
              <div class="form-group">
                <label>Colour</label>
                 <input type="text" name="colour" value="{{x.Colour}}" class="form-control" placeholder="Enter colour" required=""> 
              </div>          
            </div>


              <div class="col-md-12">
              <div class="form-group">
                <label>size</label>
                 <input type="text" name="size" value="{{x.size}}" class="form-control" placeholder="Enter size" required=""> 
              </div>          
            </div>


             <div class="col-md-12">
              <div class="form-group">
                <label>Vaccination</label>
                 <input type="text" name="vacci"  value="{{x.Vaccination}}" class="form-control" rows="4" required="">
              </div>
            
            </div>

            </div>
            <!-- /.col -->
            
            
                 <div class="col-md-12">
              <div class="form-group">
                <label>Description</label>
                 <textarea name="desc" class="form-control" rows="4" required="">{{x.Description}}</textarea>
              </div>
            
            </div>


            <div class="col-md-12">
    


              <div class="form-group">
                <label>Price</label>
                 <input type="tel" name="price" value="{{x.Price}}"  pattern="{0-9}" class="form-control"> 
              </div>          
            </div>

          
              <div class="form-group">
                <label>Image</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Do you want to update image:
                    <input type="radio" name="imgupdate" value="Yes">Yes &nbsp;
                    <input type="radio" name="imgupdate" value="No" checked>No &nbsp;
                  <input type="file" name="image" value="000" accept="image/png, image/jpeg" class="form-control" onchange="previewFile()"><br>
              
<!-- <img src="" height="200" alt="Image preview...">


<script type="text/javascript">
  function previewFile() {
  var preview = document.querySelector('img');
  var file    = document.querySelector('input[type=file]').files[0];
  var reader  = new FileReader();

  reader.onloadend = function () {
    preview.src = reader.result;
  }

  if (file) {
    reader.readAsDataURL(file);
  } else {
    preview.src = "";
  }
}
</script> -->

                   <img src="{{x.Image.url}}"width="100px" height="100px"> 
              </div>
              <!-- /.form-group -->
              
              <!-- /.form-group -->
            </div>



{% endfor %}
            

             <div class="col-md-12">
              <div class="box-footer" style="text-align: center;">
                <button type="submit"  class="btn btn-success" class="btn btn-primary btn-block btn-flat">UPATE</button>
              </div>
              <!-- /.form-group -->
              
  
            </div>
           
 </form>
          </div>
          <!-- /.row -->
        </div>
        
      </div>
      <!-- /.box -->

      <div class="row">
        <div class="col-md-6">

         


        </div>
       
      </div>
      <!-- /.row -->

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

{% endblock %}


