{% extends 'admin/headerfooter.html'%}
{% block content %}



<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
<body class="hold-transition skin-blue sidebar-mini">
 <div class="content-wrapper">
    <section class="content">
      <br><br>
     <div class="container" align="center">
  <h2>Change your password here</h2>
  <form class="form-horizontal" action="/admin_change_password/" method="post">
    {% csrf_token %}
    <br><br>
    <div class="form-group">
      <label class="control-label col-sm-2" for="password">Old Password:</label>
      <div class="col-sm-10">          
        <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="oldpassword" class="c1">
      </div>
    </div>
    <br><br>
    <div class="form-group">
      <label class="control-label col-sm-2" for="password">New Password:</label>
      <div class="col-sm-10">          
        <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="newpassword" class="c1">
      </div>
    </div>
    <br><br>
    <div class="form-group">
      <label class="control-label col-sm-2" for="password">Confirm Password:</label>
      <div class="col-sm-10">          
        <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="cpassword" class="c1">
      </div>
    </div>
    <br><br>
    </div>
    <br>
    <div class="form-group" align="center">        
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-primary">Submit</button>&nbsp;&nbsp;&nbsp;&nbsp;
        <button type="reset" class="btn btn-danger">Reset</button><br><br>
      </div>
    </div>
    <div class="c1" align="center">{{error}}
    </div>
    <div class="c2" align="center">{{success}}
    </div>
  </form>
</div>

{% endblock %}
