{% extends 'admin/headerfooter.html'%}
{% block content %}



<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

 

<body class="hold-transition skin-blue sidebar-mini">

<!-- <link rel="stylesheet" type="text/css" href="/menubar/"> -->
  <!-- Content Wrapper. Contains page content -->

 <div class="content-wrapper">

    <section class="content">
            <div class="box">
            <div class="box-header">
              <h3 class="box-title">Our Orders</h3>

              <div class="box-tools">
                <div class="input-group input-group-sm hidden-xs" style="width: 150px;">
                  <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">

                  <div class="input-group-btn">
                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
              <table class="table table-hover">
                <tr>
                     <th>User Name</th>
                     <th>Address</th>
                     <th>Image</th>
                     <th>Date of order</th>
                     <th>Item name</th>
                     <th>status</th>
                     <th>Action</th>
                   </tr>
            </div>
            <!-- /.box-body -->
          </div>
          {% for x in uv %}
          <tr>
            <td>{{x.userid.name}}</td>
            <td>{{x.userid.address}}</td>
            <td><img src="{{x.pid.Image.url}}" width="100" height="100"></td>
            <td>{{x.date}}</td>
            <td>{{x.pid.name}}</td>
            <td>{{x.status}}</td>            
          <td>
             {% ifequal x.status 'Delivered' %}
                     {% ifequal x.shoppay 'pending' %} 
                    <form action="/paytoshop/?shop={{x.shopid}}" method="POST">
                       {% csrf_token %}
                      <input type="text" name="amount" value="{{x.pid.Price}}" hidden>
                      <input type="text" name="cart" value="{{x.id}}" hidden>
                      <input type="submit" class="btn btn-success" value="Pay for Shop"></form>
                      {% else %}
                      {{x.shoppay}} to Shop
                     {% endifequal %}
             {% endifequal %}
          </td>
    </tr>

{% endfor %}
            {% for x in xy %}
          <tr>
            <td>{{x.userid.name}}</td>
            <td>{{x.userid.address}}</td>
            <td><img src="{{x.fid.Image.url}}" width="100" height="100"></td>
            <td>{{x.date}}</td>
            <td>{{x.fid.name}}</td>
            <td>{{x.status}}</td>
             <td>
             {% ifequal x.status 'Delivered' %}
                     {% ifequal x.shoppay 'pending' %} 
                    <form action="/paytoshop/?shop={{x.shopid}}" method="POST">
                       {% csrf_token %}
                      <input type="text" name="amount" value="{{x.fid.Price}}" hidden>
                      <input type="text" name="cart" value="{{x.id}}" hidden>
                      <input type="submit" class="btn btn-success" value="Pay for Shop"></form>
                      {% else %}
                      {{x.shoppay}} to Shop
                     {% endifequal %}
             {% endifequal %}
          </td>
            
      
    </tr>
             </tr>
            </tbody>
            {% endfor %}
          </table>
        </div>    
          </div>
<!-- 
  <div class="content-wrapper">
    <section class="content-header">
      <h1>
        Advanced Form Elements
        <small>Preview</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Forms</a></li>
        <li class="active">Advanced Elements</li>
      </ol>
    </section>

        <div class="box-header with-border">
          <h3 class="box-title">Add sports item</h3>

         
        </div>
        <div class="box-body">
          <div class="row">




            <form action="/uploadgallery/" method="post" enctype="multipart/form-data">
        {% csrf_token %}
            <div class="col-md-12">
              <div class="form-group">

                <label for="inputStatus">Name</label>
      <input type="text" name="field" class="form-control" placeholder="Name of Turf"> 

              </div>
              <div class="form-group">
                <label for="inputStatus">Category</label>
                <select class="form-control custom-select" name="category">
                  <option selected disabled>Select one</option>
                  <option value="cricket">Cricket</option>
                  <option value="football">Football</option>
                </select>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label>Desc</label>
                 <textarea name="desc" class="form-control" rows="4"></textarea>
              </div>
            </div>
             <div class="col-md-12">
              <div class="form-group">
                <label>Price</label>
                 <input type="text" name="inputlocation" class="form-control" placeholder="Name of Turf"> 
              </div>          
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label>Quantity</label>
                 <input type="text" name="mobile" class="form-control" placeholder="Name of Turf"> 
              </div>          
            </div>
        
            

             <div class="col-md-12">
              <div class="form-group">
                <label>Image</label>
                  <input type="file" name="image" class="form-control">
              </div>
             
            </div>

             <div class="col-md-12">
              <div class="box-footer" style="text-align: center;">
                 <button type="submit"  class="btn btn-success" class="btn btn-primary btn-block btn-flat">Add Item</button>
              </div>
           
            </div>
           
 </form>





 -->
{% endblock %}


