{% extends 'user/headerfooter.html'%}
{% block content %}
        <div class="slider-area">
            <div class="slider-active owl-dot-style owl-carousel">
                <div class="testimonial-area pt-100 pb-100 bg-img" style="background-image:url(/static/assets/img/slider/04.jpg);">
                <div class="single-slider pt-100 pb-100 yellow-bg">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-12 col-sm-7">
                                <div class="slider-content slider-animated-1 pt-114">
                                    <h3 class="animated">Adopt a pet today!</h3>
                                    <h1 class="animated">Search our list of dogs, cats and other pets available for adoption near you</h1>
                                    <div class="slider-btn">
                                        <a class="animated" href="#">Adopt Today</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-12 col-sm-5">
                                <div class="slider-single-img slider-animated-1">
                                    <img class="animated" src="/static/assets/img/slider/slider-single-img.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                <div class="testimonial-area pt-90 pb-70 bg-img" style="background-image:url(/static/assets/img/slider/03.jpg);">
                <div class="single-slider pt-100 pb-100 yellow-bg">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-7 col-12">
                                <div class="slider-content slider-animated-1 pt-114">
                                    <h3 class="animated">High Quality pet food</h3>
                                    <h1 class="animated">We have all the best products for your pet, visit our store today!</h1>
                                    <div class="slider-btn">
                                        <a class="animated" href="#">Contact us</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-5 col-12">
                                <div class="slider-single-img slider-animated-1">
                                    <img class="animated" src="/static/assets/img/slider/slider-single-img-2.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                <div class="testimonial-area pt-90 pb-70 bg-img" style="background-image:url(/static/assets/img/slider/slide4.jpg);">
                <div class="single-slider pt-100 pb-100 yellow-bg">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-7 col-12">
                                <div class="slider-content slider-animated-1 pt-114">
                                    <h3 class="animated">Experienced Veterinarians</h3>
                                    <h1 class="animated">Your pet is in good hands, meet our highly qualified professionals</h1>
                                    <div class="slider-btn">
                                        <a class="animated" href="#">Our Team</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-5 col-12">
                                <div class="slider-single-img slider-animated-1">
                                    <img class="animated" src="/static/assets/img/slider/services3.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>




        <div class="food-category food-category-col pt-100 pb-60">
            <div class="container">
              <div class="section-title text-center mb-55">
                    <h2>Our Shops</h2>
                </div>
                <div class="row">
                    {% for x in shop %}
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                        <a href="/shop/?sid={{x.id}}">
                        <div class="single-food-category cate-padding-1 text-center mb-30">
                            <div class="single-food-hover-2">
                                <img src="{{x.Image.url}}" alt="">
                            </div>
                            <div class="single-food-content">
                                <h3>{{x.name}}</h3>
                            </div>
                        </div>
                    </a>
                    </div>
                    {% endfor %}
                    <!-- <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                        <div class="single-food-category cate-padding-2 text-center mb-30">
                            <div class="single-food-hover-2">
                                <img src="/static/assets/img/product/product-2.jpg" alt="">
                            </div>
                            <div class="single-food-content">
                                <h3>Cats</h3>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                        <div class="single-food-category cate-padding-2 text-center mb-30">
                            <div class="single-food-hover-2">
                                <img src="/static/assets/img/product/parrot.jpg" alt="">
                            </div>
                            <div class="single-food-content">
                                <h3>Birds</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                        <div class="single-food-category cate-padding-3 text-center mb-30">
                            <div class="single-food-hover-2">
                                <img src="/static/assets/img/product/product-3.jpg" alt="">
                            </div>
                            <div class="single-food-content">
                                <h3>Fishs</h3>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
        <div class="product-area pt-95 pb-70 gray-bg">
            <div class="container">
                <div class="section-title text-center mb-55">
                    <h4>Most Populer</h4>
                    <h2>FOODs</h2>
                </div>
                 <div class="row">
                     {% for x in fdb %}
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">


                        <div class="product-wrapper mb-10">
                            <div class="product-img">
                                <a href="/food_details/?id={{x.id}}">
                                    <img src="{{x.Image.url}}" alt="">
                                </a>
                                <div class="product-action">
                                    <a title="Quick View" data-toggle="modal" data-target="#exampleModal" href="#">
                                        <i class="ti-plus"></i>
                                    </a>
                                    <a title="Add To Cart" href="#">
                                        <i class="ti-shopping-cart"></i>
                                    </a>
                                </div>
                                <div class="product-action-wishlist">
                                    <a title="Wishlist" href="#">
                                        <i class="ti-heart"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="product-content">
                                <h4><a href="/food_details/?id={{x.id}}">{{x.Pname}}</a></h4>
                                <div class="product-price">
                                    <span class="new">&#8377;{{x.Price}}</span>
                                    
                                </div>
                            </div>

                        </div>
                    </div>
                    {% endfor %}

</div>
</div>
        <div class="product-area pt-95 pb-70 gray-bg">
            <div class="container">
                <div class="section-title text-center mb-55">
                    <h2>PETS</h2>
                </div>
                <div class="row">
                  
                    {% for x in pdb %}
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">


                        <div class="product-wrapper mb-10">
                            <div class="product-img">
                                <a href="/pets_details/?id={{x.id}}">
                                    <img src="{{x.Image.url}}" alt="">
                                </a>
                                <div class="product-action">
                                    <a title="Quick View" data-toggle="modal" data-target="#exampleModal" href="#">
                                        <i class="ti-plus"></i>
                                    </a>
                                    <a title="Add To Cart" href="#">
                                        <i class="ti-shopping-cart"></i>
                                    </a>
                                </div>
                                <div class="product-action-wishlist">
                                    <a title="Wishlist" href="#">
                                        <i class="ti-heart"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="product-content">
                                <h4><a href="/pets_details/?id={{x.id}}">{{x.name}}</a></h4>
                                <div class="product-price">
                                    <span class="new">&#8377;{{x.Price}}</span>
                                    
                                </div>
                            </div>

                        </div>
                    </div>
                    {% endfor %}

</div>
                </div>
            </div>
        </div>















            </div>
                </div>
            </div>
		</div>
		<div class="service-area bg-img pt-100 pb-65">
		    <div class="container">
		        <div class="row">
		            <div class="col-lg-4 col-md-4">
		                <div class="service-content text-center mb-30 service-color-1">
		                    <img src="/static/assets/img/icon-img/shipping.png" alt="">
		                    <h4>FREE SHIPPING</h4>
		                    <p>Free shipping on all order </p>
		                </div>
		            </div>
		            <div class="col-lg-4 col-md-4">
		                <div class="service-content text-center mb-30 service-color-2">
		                    <img src="/static/assets/img/icon-img/support.png" alt="">
		                    <h4>ONLINE SUPPORT</h4>
		                    <p>Online support 24 hours a day</p>
		                </div>
		            </div>
		            <div class="col-lg-4 col-md-4">
		                <div class="service-content text-center mb-30 service-color-3">
		                    <img src="/static/assets/img/icon-img/money.png" alt="">
		                    <h4>MONEY RETURN</h4>
		                    <p>Back guarantee under 5 days</p>
		                </div>
		            </div>
		        </div>
		    </div>
		</div>
		<div class="blog-area pb-70">
		    <div class="container">
		        <div class="section-title text-center mb-60">
                    <h4>Latest News</h4>
                    <h2>From Our Blog</h2>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="blog-wrapper mb-30 gray-bg">
                            <div class="blog-img hover-effect">
                                <a href="blog-details.html"><img alt="" src="/static/assets/img/blog/blog-1.jpg"></a>
                            </div>
                            <div class="blog-content">
                                <div class="blog-meta">
                                    <ul>
                                        <li>By: <span>Admin</span></li>
                                        <li>Sep 14, 2018</li>
                                    </ul>
                                </div>
                                <h4><a href="blog-details.html">Lorem ipsum dolor amet cons adipisicing elit</a></h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="blog-wrapper mb-30 gray-bg">
                            <div class="blog-img hover-effect">
                                <a href="blog-details.html"><img alt="" src="/static/assets/img/blog/blog-2.jpg"></a>
                            </div>
                            <div class="blog-content">
                                <div class="blog-meta">
                                    <ul>
                                        <li>By: <span>Admin</span></li>
                                        <li>Sep 14, 2018</li>
                                    </ul>
                                </div>
                                <h4><a href="blog-details.html">Lorem ipsum dolor amet cons adipisicing elit</a></h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="blog-wrapper mb-30 gray-bg">
                            <div class="blog-img hover-effect">
                                <a href="blog-details.html"><img alt="" src="/static/assets/img/blog/blog-3.jpg"></a>
                            </div>
                            <div class="blog-content">
                                <div class="blog-meta">
                                    <ul>
                                        <li>By: <span>Admin</span></li>
                                        <li>Sep 14, 2018</li>
                                    </ul>
                                </div>
                                <h4><a href="blog-details.html">Lorem ipsum dolor amet cons adipisicing elit</a></h4>
                            </div>
                        </div>
                    </div>
                </div>
		    </div>
		</div>


    {% endblock %}

		